<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		
       	<title>College Homepage</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="static/css/animate.min.css">
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="static/css/templatemo-style.css">
		<script src="static/js/jquery.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/jquery.singlePageNav.min.js"></script>
		<script src="static/js/typed.js"></script>
		<script src="static/js/wow.min.js"></script>
		<script src="static/js/custom.js"></script>
		<script src="static/js/script.js"></script>
		<script src="static/js/style1.js"></script>
		
	</head>
	<body id="top">

		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-wave">
     	 		<div class="sk-rect1"></div>
       			<div class="sk-rect2"></div>
       			<div class="sk-rect3"></div>
      	 		<div class="sk-rect4"></div>
      			<div class="sk-rect5"></div>
     		</div>
    	</div>
    	<!-- end preloader -->
		

        <!-- start header -->
      
		<!-- start navigation -->
		<nav class="navbar navbar-default templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">GMIT</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#top">HOME</a></li>
						<li><a href="#about">ABOUT</a></li>
						<li><a href="#team">FOUNDERS</a></li>
						<li><a href="#service">DEPARTMENTS</a></li>
						<li><a href="#portfolio1">GALLERY</a></li>
						<li><a href="#portfolio">PLACEMENTS</a></li>
						<li><a href="#contact">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->
           
      <!-- end header -->
<!-- start home -->
    	<section id="home">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-offset-2 col-md-8">
    					<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s"> <span>G MADEGOWDA INSTITUTE OF TECHNOLOGY</span></h1>
    					<div class="element">
                            <div class="sub-element"><strong>Better Education for a Better World!!!</strong></div>
                            <div class="sub-element"><b>Successful career starts with good eduction...</b></div>
                            <div class="sub-element"><b>The beautiful thing about learning is that no one can take it away from you...</b></div>
                        </div>
    					<a data-scroll href="{% url 'login_page' %} " class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">LOGIN</a>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end home -->

    	<!-- start about -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"> <span>About</span>Us</h2>
    				</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-comment-o"></i>
								</div>
								<h3 class="media-heading">VISSION</h3>
							</div>
							<div class="media-body">
								<p>"To provide value based higher education to rural students at a very affordable cost and to make them responsive to the needs of the society and to make them useful citizens by inculcating in them Gandhian principles" </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-comment-o"></i>
								</div>
								<h3 class="media-heading">MISSION</h3>
							</div>
							<div class="media-body">
								<p><ul><li>Community service through social extension activities.</li>
                                        <li>The preservation of national heritage and culture.</li>
                                        <li>Development of scientific temper among the students</li></ul></p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-comment-o"></i>
								</div>
								<h3 class="media-heading">OVERVIEW</h3>
							</div>
							<div class="media-body">
								<p>G Madegowda Institute of Technology (GMIT) was established in the year 2011 by Bharathi Education Trust (BET) to fulfil the growing needs of the industry and aspirations of young students of Mandya District and other parts of the country, to cater this it requires outstanding professionals who can be an asset to any organization.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end about -->

    	<!-- start team -->
    	<section id="team">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>FOUNDER'S</span> MESSAGE</h2>
    				</div>
    				
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
    					<div class="team-wrapper">
    						<img src="static/images/capture1.png" class="img-responsive" alt="team img 2">
    							<div class="team-des">
    								<h4>DR.G.MADEGOWDA</h4>
    								<span>FOUNDER CHAIRMAN'S, BET<br>M.A, LLB</span>
    								<p>Bharathi Education Trust (BET) was established in 1962 with the purpose of providing quality education in rural areas at an affordable cost. The goals and objectives of Bharathi Education Trust are three folds-Education in rural areas, providing safe health care facilities and providing food for the needy and the deserving..</p>
    							</div>
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="static/images/capture2.png" class="img-responsive" alt="team img 3">
    							<div class="team-des">
    								<h4>SRI MADHU G MADEGOWDA</h4>
    								<span>FOUNDER PRESIDENT,BET<br> B.E, MBA</span>
    								<p>We are in the midst of a revolution. The nation is basking in the glory of a new proud generation that is Taking the world by storm!. The entire intellectual community of the world has woken up to the reality that India is a treasure-house of talent and intelligence.</p>
    							</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end team -->

    	<!-- start service -->
    	<section id="service">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">OUR <span>DEPARTMENTS</span> </h2>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<i class="fa fa-laptop"></i>
    					<h4>Computer Science Engineering</h4>
    					<p>Computer Science Engineering (CSE) encompasses a variety of topics that relates to computation, like analysis of algorithms, programming languages, program design, software, and computer hardware.</p>
    				</div>
    				<div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
    					<i class="fa fa-mobile"></i>
    					<h4>Electronics and Communication Engineering</h4>
    					<p>Electronics & Communication Engineering deals with the electronic devices, circuits, communication equipments like transmitter, receiver, integrated circuits (IC).</p>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<i class="fa fa-plug"></i>
    					<h4>Electrical and Electronics Engineering</h4>
    					<p>Electrical and electronics engineering, the branch of engineering concerned with the practical applications of electricity in all its forms, including those of the field of electronics..</p>
    				</div>
					<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<i class="fa fa-cog"></i>
    					<h4>Mechanical Engineering</h4>
    					<p>mechanical engineering is the study of objects and systems in motion. As such, the field of mechanical engineering touches virtually every aspect of modern life, including highly complex machine.</p>
    				</div>
					<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<i class="fa fa-building"></i>
    					<h4>Civil Engineering</h4>
    					<p>Civil engineering is a professional engineering discipline that deals with the design, construction, and maintenance of the physical and naturally built environment, including public works.</p>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end servie -->
		
		<!-- Start Portfolio Section
		=========================================== -->
		
		<section class="portfolio1 section" id="portfolio1">
			<div class="container1">
				<div class="row1" >
					<div class="col-lg-12">
					
						<!-- section title -->
						<div class="title text-center">
							<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">COLLEGE<span> GALLERY</span></h2>
							<div class="border"></div>
						</div>
						<!-- /section title -->
					</div> <!-- /end col-lg-12 -->
				</div> <!-- end row -->
				<div class="row">
						<div class="col-md-12">
							<div class="portfolio1-filter">
								<button  type="button" data-filter="all">ALL</button>
								<button type="button" data-filter=".photography">CULTURAL EVENTS</button>
								<button type="button" data-filter=".design">FUNCTIONS</button>
								<button type="button" data-filter=".development">GRADUATION DAY</button>
							</div>
						</div>
					</div>
					<div class="row portfolio1-items-wrapper">
						<div class="mix col-md-4 design">
							<div class="portfolio1-block">
								<img class="img-responsive" src="static/images/c2.jpg" alt="">
								<div class="caption">

									<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="static/images/c2.jpg" data-lightbox="image-1">
										<i class="tf-ion-android-search"></i>
									</a>
									
									
								</div>
							</div>
						</div>
						<div class="mix col-md-4 design">
							<div class="portfolio1-block">
									<img class="img-responsive" src="static/images/c3.jpg" alt="">
									<div class="caption">
										<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="static/images/c3.jpg" data-lightbox="image-1">
											<i class="tf-ion-android-search"></i>
										</a>
									
									</div>
								</div>
						</div>
						<div class="mix col-md-4 design development">
							<div class="portfolio1-block">
									<img class="img-responsive" src="static/images/c4.jpg" alt="">
									<div class="caption">
										<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="static/images/c4.jpg" data-lightbox="image-1">
											<i class="tf-ion-android-search"></i>
										</a>
										
									</div>
								</div>
						</div>
						<div class="mix col-md-4 photography development">
							<div class="portfolio1-block">
									<img class="img-responsive" src="static/images/c5.jpg" alt="">
									<div class="caption">
										<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="static/images/c5.jpg" data-lightbox="image-1">
											<i class="tf-ion-android-search"></i>
										</a>
										
									</div>
								</div>
						</div>
						<div class="mix col-md-4 design">
							<div class="portfolio1-block">
									<img class="img-responsive" src="static/images/e1.jpg" alt="">
									<div class="caption">
										<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="static/images/e1.jpg" data-lightbox="image-1">
											<i class="tf-ion-android-search"></i>
										</a>
										
									</div>
								</div>
						</div>
						<div class="mix col-md-4 photography" >
							<div class="portfolio1-block">
									<img class="img-responsive" src="static/images/e2.jpg" alt="">
									<div class="caption">
										<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="static/images/e2.jpg" data-lightbox="image-1">
											<i class="tf-ion-android-search"></i>
										</a>
										
									</div>
								</div>
						</div>
						<div class="mix col-md-4 design">
							<div class="portfolio1-block">
									<img class="img-responsive" src="static/images/g6.jpg" alt="">
									<div class="caption">
										<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="static/images/g6.jpg" data-lightbox="image-1">
											<i class="tf-ion-android-search"></i>
										</a>
										
									</div>
								</div>
						</div>
						<div class="mix col-md-4 design">
							<div class="portfolio1-block">
									<img class="img-responsive" src="static/images/g5.jpg" alt="">
									<div class="caption">
										<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="static/images/g5.jpg" data-lightbox="image-1">
											<i class="tf-ion-android-search"></i>
										</a>
										
									</div>
								</div>
						</div>
						
						<div class="mix col-md-4 design">
							<div class="portfolio1-block">
									<img class="img-responsive" src="static/images/g1.jpg" alt="">
									<div class="caption">
										<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="static/images/g1.jpg" data-lightbox="image-1">
											<i class="tf-ion-android-search"></i>
										</a>
										
									</div>
								</div>
						</div>
						<div class="mix col-md-4 design">
							<div class="portfolio1-block">
									<img class="img-responsive" src="static/images/g2.jpg" alt="">
									<div class="caption">
										<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="static/images/g2.jpg" data-lightbox="image-1">
											<i class="tf-ion-android-search"></i>
										</a>
										
									</div>
								</div>
						</div>
						<div class="mix col-md-4 design">
							<div class="portfolio1-block">
									<img class="img-responsive" src="static/images/g3.jpg" alt="">
									<div class="caption">
										<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="static/images/g3.jpg" data-lightbox="image-1">
											<i class="tf-ion-android-search"></i>
										</a>
									
										
									</div>
								</div>
						</div>
						<div class="mix col-md-4 design">
							<div class="portfolio1-block">
									<img class="img-responsive" src="static/images/g4.jpg" alt="">
									<div class="caption">
										<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="static/images/g4.jpg" data-lightbox="image-1">
											<i class="tf-ion-android-search"></i>
										</a>
										
										
									</div>
								</div>
						</div>
						
															
					</div>
						

						
			</div>	<!-- end container -->
		</section>   <!-- End section -->

    	<!-- start portfolio -->
    	<section id="portfolio">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">COLLEGE<span> PLACEMENTS</span></h2>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
    					   <img src="static/images/1.png" class="img-responsive" alt="portfolio img 1">
                                <div class="portfolio-overlay">
                                    <h4 style="text-align:center">CAPGEMINI</h4>
                                   
                                 <p style="text-align:center"><a href="https://www.capgemini.com/" class="btn btn-default">DETAIL</a></p>
                                </div>
                        </div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="static/images/2.png" class="img-responsive" alt="portfolio img 2">
                                <div class="portfolio-overlay">
                                    <h4  style="text-align:center">EBENUS</h4>
                                    
                                   <p style="text-align:center"> <a href="https://ebenus.co.in/" class="btn btn-default">DETAIL</a></p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="static/images/3.png" class="img-responsive" alt="portfolio img 3">
                                <div class="portfolio-overlay">
                                    <h4 style="text-align:center">TREISTEK</h4>
                                   
                                    <p style="text-align:center"> <a href="https://www.treistek.com/" class="btn btn-default">DETAIL</a></p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="static/images/4.png" class="img-responsive" alt="portfolio img 4">
                                <div class="portfolio-overlay">
                                    <h4 style="text-align:center">TORRY HARRIS</h4>
                                  
                                    <p style="text-align:center"> <a href="https://www.torryharris.com/" class="btn btn-default">DETAIL</a></p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="static/images/14.png" class="img-responsive" alt="portfolio img 3">
                                <div class="portfolio-overlay">
                                    <h4 style="text-align:center">QSPIDERS</h4>
                                   
                                    <p style="text-align:center"> <a href="https://www.qspiders.com/" class="btn btn-default">DETAIL</a></p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="static/images/6.png" class="img-responsive" alt="portfolio img 4">
                                <div class="portfolio-overlay">
                                    <h4 style="text-align:center">MPHASIS</h4>
                                   
                                    <p style="text-align:center"> <a href="https://www.mphasis.com/" class="btn btn-default">DETAIL</a></p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="static/images/7.png" class="img-responsive" alt="portfolio img 1">
                                <div class="portfolio-overlay">
                                    <h4 style="text-align:center">TAYANA</h4>
                                   
                                    <p style="text-align:center"><a href="http://tayanasoftware.com/" class="btn btn-default">DETAIL</a></p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="static/images/8.png" class="img-responsive" alt="portfolio img 2">
                                <div class="portfolio-overlay">
                                    <h4 style="text-align:center">TESTYANTRA</h4>
                                   
                                    <p style="text-align:center"> <a href="https://www.testyantra.com/" class="btn btn-default">DETAIL</a></p>
                                </div>
                        </div>
                    </div>
    			</div>
    		</div>
    	</section>
    	<!-- end portfolio -->

    	<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT <span>US</span></h2>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
    					<form action="#" method="post">
    						<label>NAME</label>
    						<input name="fullname" type="text" class="form-control" id="fullname">
   						  	
                            <label>EMAIL</label>
    						<input name="email" type="email" class="form-control" id="email">
   						  	
                            <label>MESSAGE</label>
    						<textarea name="message" rows="4" class="form-control" id="message"></textarea>
    						
                            <input type="submit" class="form-control">
    					</form>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p class="address-title">OUR ADDRESS</p>
    						<span>The Bharathi Education Society which subsequently became the Bharathi Education Trust has its headquarters at BET campus, Bharathinagara, Maddur Taluk, Karnataka.</span>
    						<p><i class="fa fa-phone"></i>08232-235676 / 5566</p>
    						<p><i class="fa fa-envelope-o"></i>principalgmit@gmail.com</p>
    						<p><i class="fa fa-map-marker"></i> GMIT, Bharathinagara, Maddur Taluk,
Mandya District-571422</p>
    					</address>
    					<ul class="social-icon">
    						<li><h4>WE ARE SOCIAL</h4></li>
    						<li><a href="https://www.facebook.com/Bharathinagara/" class="fa fa-facebook"></a></li>
    						<li><a href="https://twitter.com/gmitmandya2011?s=08" class="fa fa-twitter"></a></li>
    						<li><a href="https://in.linkedin.com/school/g-madegowda-institute-of-technology-mandya/" class="fa fa-linkedin"></a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact -->

        <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                       	Copyright &copy; BET Development Team</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->

	</body>
</html>